@charset "UTF-8";

#content_1{
    grid-column-start: 1;
    grid-column-end: 3;
}
#content_2{
    grid-column-start: 3;
    grid-column-end: 5;
}
#content_3{
    grid-column-start: 1;
    grid-column-end: 3;
}
#content_4{
    grid-column-start: 3;
    grid-column-end: 5;
}
#content_5{
    grid-column-start: 1;
    grid-column-end: 3;
}
#content_6{
    grid-column-start: 3;
    grid-column-end: 5;
}
#content_7{
    grid-column-start: 1;
    grid-column-end: 3;
}
#content_8{
    grid-column-start: 3;
    grid-column-end: 5;
}

